*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #e5fcf4;
}
.App{
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
.section-list{
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  max-width: 35rem;
}

.form-control{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.form-control h2{
  letter-spacing: 4px;
  font-weight: 500;

}

.input-field{
  display: flex;
  margin-top: 1.5rem;
}

input{
  padding: 0.25rem;
  padding-left: 1rem;
  background-color: rgb(198, 252, 249);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  
}

.submit-btn{
  background-color: #7be0ff;
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-size: 0.85rem;
}